body {
    font-family: 'Kaisei Tokumin', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le scroll horizontal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2EFC5;
}
.header {
    background-color: #06593C;
    padding: 45px;
    display: flex;
    text-align: center;
}
.header .btn {
    color: #F2EFC5;
    background-color: #06593C;
    position: absolute;
    top: 3px;
    font-size: 3em;
}
.header .btn:hover {
    background-color: #F2EFC5;
    color: #06593C;
}
.header .btn-actual {
    font-weight: bold;
}
/*------------------------------------------*/
.title{
    box-shadow: 5px 13px 19px rgba(0, 0, 0, 0.2);

}
.container {
    padding-right: 10%;
    display: inline-block; /* Pour centrer le bouton */
}
.content-area {
    background-color: #FFFFFF;
    color: #06593C;
    padding: 20px;
    font-size: 1.2em;
}

.action-button {
    background-color: #198D6D;
    color: #F2EFC5;
    border: 2px solid #198D6D;
    border-radius: 10px; 
    font-size: 5em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
/*------------------------------------------*/
.footer {
    background-color: #06593C;
    color: #F2EFC5;
    padding: 20px;
    margin-top: auto;
}
.footer-text {
    display: flex;
    justify-content: left;
    gap: 50px; /* Espace entre les noms */
}
.footer-icon {
    color: #06593C; 
    background-color: #F2EFC5; 
    padding: 2px;
    font-size: 1.1em;
    border-radius: 10%;
}
span{
    color:#F2EFC5;
}