body {
    font-family: 'Kaisei Tokumin', serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden; /* Empêche le scroll horizontal */
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2EFC5;
}
.header {
    background-color: #06593C;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    height: 100px;
}

.header .btn {
    color: #F2EFC5;
    background-color: #06593C;
    margin-top: 2px;
    font-size: 1.5em;
    margin-right: 20px;
    padding: 10px 20px;
    width: 150px; /* Ajustez cette valeur selon vos besoins */
    text-align: center; /* Pour centrer le texte à l'intérieur du bouton */
}

.header .btn:hover {
    background-color: #F2EFC5;
    color: #06593C;
}
.btn-arbre{
    white-space: nowrap;
}

.header .btn-actual {
    font-weight: bold;
}

.header-row {
    padding-top: 10px;
    gap: 50px;
}

.header-icon {
    color: #06593C;
    background-color: #F2EFC5;
    font-size: 2em;
    border-radius: 10%;
    margin-top: 10px;
    padding: 3px;
    display: inline-block;
    line-height: 0;
}
/*------------------------------------------*/
.content-area {
    background-color: #FFFFFF;
    color: #06593C;
    padding: 20px;
    font-size: 1.2em;
}
.action-button {
    background-color: #198D6D;
    color: #F2EFC5;
    border: 2px solid #198D6D;
    border-radius: 10px; 
    font-size: 2em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.custom-textbox {
    background-color: #198D6D; 
    color: #F2EFC5; 
    }
.formulaire {
    background-color: #A0C097; 
    padding: 20px; 
}
.btn-submit {
    background-color: #06593C;
    color: #F2EFC5;
    border-radius: 10px; 
    font-size: 2em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.bi-check-all {
    font-size: 1.2em;
}

.imp_data {
    padding-top: 10px;
}
/*------------------------------------------*/
.footer {
    background-color: #06593C;
    color: #F2EFC5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 20px;
    text-align: center;
    margin-top: auto;
}
.footer-text {
    display: flex;
    justify-content: left;
    gap: 50px; /* Espace entre les noms */
}
.footer-icon {
    color: #06593C; /* Couleur du fond du footer pour les lettres de l'icône */
    background-color: #F2EFC5; /* Couleur du texte pour le fond de l'icône */
    padding: 2px;
    font-size: 1.1em;
    border-radius: 10%;
    display: inline-block; /* Assure que l'icône est en ligne, ce qui aide à contrôler les marges */
    line-height: 0;
}
span{
    color:#F2EFC5;
}