body {
    font-family: 'Kaisei Tokumin', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le scroll horizontal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2EFC5;
}

.header {
    background-color: #06593C;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 100px;
    height: 100px;
}

.header .btn {
    color: #F2EFC5;
    background-color: #06593C;
    margin-top: 2px;
    font-size: 1.5em;
    margin-right: 20px;
    padding: 10px 20px;
    width: 150px; /* Ajustez cette valeur selon vos besoins */
    text-align: center; /* Pour centrer le texte à l'intérieur du bouton */
}

.header .btn:hover {
    background-color: #F2EFC5;
    color: #06593C;
}
.btn-arbre{
    white-space: nowrap;
}

.header .btn-actual {
    font-weight: bold;
}

.header-row {
    padding-top: 10px;
    gap: 50px;
}

.header-icon {
    color: #06593C;
    background-color: #F2EFC5;
    font-size: 2em;
    border-radius: 10%;
    margin-top: 10px;
    padding: 3px;
    display: inline-block;
    line-height: 0;
}
/*------------------------------------------*/
.table-container {
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
}
.table {
    overflow-y: auto; /* Activation du défilement vertical */
    border-collapse: collapse; /* Fusionner les bordures de cellules */
}

.table-scroll{  /* Scroll du tableau */
    overflow-y: auto;
    max-height: 320px;
}

.table thead th { /* Scroll du tableau */
    position: sticky; /* Fixer les en-têtes */
    top: 0; /* Aligner en haut du conteneur parent */
    z-index: 1; /* Assurer que les en-têtes restent au-dessus du contenu */
}

.table thead { /* Scroll du tableau */
    z-index: 2; /* Assurer que les en-têtes restent au-dessus du contenu */
}

thead{ /* Scroll du tableau */
    position: sticky;
}

.table tbody td {
    background-color: #A0C097;
}
.table th, .table td {
    background-color: #198D6D;
    color: #F2EFC5;
    border: 1px solid #0E0F0F;
}
.table tbody td:first-child {
    background-color: #198D6D;
    color: #F2EFC5; /* Optionnel : couleur du texte */
}

.filter-button {
    background-color: #198D6D;
    color: #F2EFC5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}


.map-container {
    margin-bottom: 20px;
}
.action-buttons button {
    background-color: #347a48;
    color: #F2EFC5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}
.selection-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.selection-container input {
    margin-left: 10px;
    padding: 5px;
    flex: 1;
}
.custom-bg-color {
    background-color: #198D6D; /* Remplacez par la couleur de votre choix */
    color:#F2EFC5
}   
/*------------------------------------------*/
.footer {
    background-color: #06593C;
    color: #F2EFC5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 20px;
    text-align: center;
    margin-top: auto;
}
.footer-text {
    display: flex;
    justify-content: left;
    gap: 50px; /* Espace entre les noms */
}
.footer-icon {
    color: #06593C; /* Couleur du fond du footer pour les lettres de l'icône */
    background-color: #F2EFC5; /* Couleur du texte pour le fond de l'icône */
    padding: 2px;
    font-size: 1.1em;
    border-radius: 10%;
    display: inline-block; /* Assure que l'icône est en ligne, ce qui aide à contrôler les marges */
    line-height: 0;
}
span{
    color:#F2EFC5;
}