body {
    font-family: 'Kaisei Tokumin', serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2EFC5;
}

.header {
    background-color: #06593C;
    text-align: center;
}

.header .btn {
    margin-top: 2px;
    color: #F2EFC5;
    background-color: #06593C;
    font-size: 1.5em;
}

.header .btn:hover {
    background-color: #F2EFC5;
    color: #06593C;
}

.header .btn-actual {
    font-weight: bold;
}
.header-row {
    padding-top: 10px;
    gap: 50px;
}

.header-icon {
    color: #06593C;
    background-color: #F2EFC5;
    font-size: 2em;
    border-radius: 10%;
    margin-top: 10px;
    padding: 3px;
    display: inline-block;
    line-height: 0;
}

/*------------------------------------------*/
.title {
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; /* Espace entre les cases */
    margin-bottom: 40px; /* Espace entre les dernières cases et le footer */
    width: 80%; /* Ajuster la largeur de la grille */
    margin: auto; /* Centrer la grille horizontalement */
}

.grid-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les titres des cases */
}

.grid-item-wrapper-full {
    grid-column: span 2; /* Occupe les deux colonnes pour centrer */
}

.grid-item {
    background-color: white;
    border: 2.5px solid black;
    border-radius: 10px;
    box-shadow: 5px 13px 19px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-height: 260px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-title {
    margin: 0;
    padding: 10px;
    background-color: #198D6D;
    color: #F2EFC5;
    box-sizing: border-box;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.item-content {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/*------------------------------------------*/
.footer {
    background-color: #06593C;
    color: #F2EFC5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-text {
    display: flex;
    justify-content: left;
    gap: 50px; /* Espace entre les noms */
}

.footer-icon {
    color: #06593C;
    background-color: #F2EFC5;
    padding: 2px;
    font-size: 1.1em;
    border-radius: 10%;
    display: inline-block;
    line-height: 0;
}
span{
    color:#F2EFC5;
}